<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.yesaladin.coupon.coupon.persistence.MyBatisInsertIssuedCouponMapper">
    <insert id="insertIssuedCoupon">
        INSERT INTO issued_coupons(coupon_group_id, coupon_code, created_datetime,
        coupon_given_state_code_id, coupon_usage_state_code_id,
        expiration_date) VALUES
        <foreach collection="insertDataList" item="data" separator=",">
            (#{data.couponGroupId}, #{data.couponCode}, NOW(), 1, 1, #{data.expirationDate})
        </foreach>
    </insert>
</mapper>