<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.yesaladin.coupon.persistence.MyBatisInsertIssuedCouponMapper">
    <insert id="insertIssuedCoupon">
        INSERT INTO issued_coupons(coupon_id, coupon_code, created_datetime, is_given,
        expiration_date) VALUES
        <foreach collection="insertDataList" item="data" separator=",">
            (#{data.couponId}, #{data.couponTypeCode}, NOW(), FALSE, #{data.expirationDate})
        </foreach>
    </insert>
</mapper>